<section>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 ">


                <nav class="mynavbar">
    
                    <!-- Sidebar Toggle Button-->
                    <a data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1000" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle" (click)="navopen()"><i class="material-icons md-light">menu</i></a>
                    <a class="mycartname" href="#">Angaadi Cart</a>
                   <a class="input-group">  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-default visiblebtn" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    
                </a>  
                <a class="navdrop">
                   
                    <i class="fa fa-user" aria-hidden="true"></i>
               
            </a>  
                
                <a class="navdrop">
                    <i class="fas fa-caret-down"></i> 
                                   
                </a>
                <a class="navdrop">
                    <i class="fas fa-shopping-bag"></i>                   
                </a>
                
                </nav>
                
               
                <ul class="navright">
                    <li>
                        Hi! User
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fas fa-caret-down"></i>
                        
                    </li>
                    <li>
                        <i class="fas fa-shopping-bag"></i>
                    </li>
                </ul>                
                
                
                <div class="navmenu" id="mynav">
                   

                    <ul class="liststyle">
                        <li><a>catogeries </a> <i class="fas fa-plus" (click)="opensubmenu()"></i>
                            <ul id="submenu"><li><a>Food</a></li>
                            <li><a>Home Furnitures</a></li>
                            <li><a>Mens Products</a></li>
                            <li><a>Womens Products</a></li>
                            <li><a>Health</a></li>
                            </ul> </li><i class="fas fa-plus"></i>
                        <li><a>Discounts</a></li><i class="fas fa-plus"></i>
                        <li><a>coupens</a></li><i class="fas fa-plus"></i>
                        <li><a>Resources</a></li><i class="fas fa-plus"></i>
                        <li><a>Alert</a></li><i class="fas fa-plus"></i>                        
                    </ul>
            </div>
          
        </div>
    </div>
</div>
</section>
